<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main-home"></ion-back-button>
        </ion-buttons>
        <ion-title>Souscrire</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <p>Consommez l'information sans intéruption grâce à un compte payant.</p>
        <p class="p-2">Opter pour un compte payant.</p>

        <div class="btn">
            <ion-button [routerLink]="['/connexion']" routerDirection="foward" >
                Se connecter
            </ion-button>
        </div>
    </div>
</ion-content>
