<ion-header>
    <ion-toolbar>
        <ion-title>Confirmation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="label">
            <p>
                Nous avons reçu votre demande de partenariat. Notre équipe d'experts l'étudiera et vous serez contactés dans les prochains jours pour confirmation.
            </p>
            <p>Merci</p>
        </div>
        <div class="btn">
            <ion-button [routerLink]="['/main-home']">Revenir à l'accueil</ion-button>
        </div>
    </div>
</ion-content>
