<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="ad-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>Statistiques</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="ad">
            <div class="img">
                <img src="./assets/news-sport.jpg" alt="">
            </div>
            <div class="title">
                <div>Thé frais biologique</div>
            </div>
        </div>
        <div class="underline"></div>
        <div class="result">
            <div class="header">
                <div>Les 30 derniers jours</div>
            </div>
            <div class="bilan">
                <div class="item">
                    <div>Vues</div> <div>16</div>
                </div>
                <div class="underline"></div>
                <div class="item">
                    <div>Clics</div> <div>1</div>
                </div>
                <div class="underline"></div>
                <div class="item">
                    <div>Favoris</div> <div>0</div>
                </div>
                <div class="underline"></div>
            </div>
        </div>
    </div>
</ion-content>
