<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="connexion"></ion-back-button>
        </ion-buttons>
        <ion-title>Paiement</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="payment">
        <h1 class="amount">10 000 Fcfa/an</h1>
        <div class="mode">
            <div class="row">
                <div class="img visa">
                    <img src="./assets/visa.png" alt="">
                </div>
                <div class="img mastercard">
                    <img src="./assets/mastercard.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="img paypal">
                    <img src="./assets/paypal.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="img orange">
                    <img src="./assets/orange-money.png" alt="">
                </div>
                <div class="img mtn">
                    <img src="./assets/mtn-money.png" alt="">
                </div>
            </div>
        </div>
    </div>
</ion-content>
